* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.InputPart {
  width: 60vw;
  height: 35vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

ul.nav {
  width: 100%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  padding-left: 0px;
  background: rgba(50, 224, 196, 0.15);
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: rgba(44, 107, 197, 0.15);
}
ul.nav li.active {
  background: #39A2DB;
}

input[type="number"] {
  width: 10vh;
}

.numInput label {
    display: block;
}

.numInput label span {
    display: inline-block;
    text-align: left;
    width: 100px;
}

#matrixLabel {
  vertical-align: top;
}

#matrixInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px 0;
}

#left, #right {
  width: 40%;
  height: auto;
  float:left;
  margin: auto;
}

#right {
  border-left: 1.5px solid #39A2DB;
  width: 27.5%;
  height: 100%;
  margin: 0;
}

#left {
  width: 72.5%;
  margin: 0;
}

#graphContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  border: 2px solid #39A2DB;
  border-radius: 2rem;
  width: 85%;
  height: 60%;
  padding: 0;
}

#pushRelabel, #fifoPushRelabel, #excessPushRelabel, #wavePushRelabel {
  padding: 1em;
  width: 100%;
  height: 25%;
}

#fifoPushRelabel, #excessPushRelabel, #wavePushRelabel {
  border-top: 1.5px solid #39A2DB;
}

input[type=button] {
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  background-color: white;
  padding: 0.3em;
  font-weight: bold;
  color: black;
  background: rgba(50, 224, 196, 0.15);
}
input[type=button].active {
  background: #39A2DB;
}

Graph {
  position:absolute;
  transform: rotate(360deg) scaleX(-1);
}

div[data-tool-tip]{
  position: relative;
  text-decoration: none;
  color: rgba(255,255,255,0.75);
}

div[data-tool-tip]::after{
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: dimgrey;
  padding: 1em 3em;
  color: white;
  border-radius: 5px;
  font-size: .5em;
  bottom: 0;
  left: -180%;
  white-space: nowrap;
  transform: scale(0);
  transition: 
  transform ease-out 150ms,
  bottom ease-out 150ms;
}

div[data-tool-tip]:hover::after{
  transform: scale(1);
  bottom: 200%;
}